<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Product page</title>
    <!-- Font Awesome -->
    <!--this test-->
    <link rel="stylesheet" href="assets/css/all.css">
    <!-- Bootstrap CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>

<body class="bg-light">

    <!--========= Header Part Start ======-->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light shadow-sm bg-white fixed-top">
            <div class="container">
                <a class="navbar-brand" href="products.html">
                    <img src="images/logo.png" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="products.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="cart.html"><i class="fas fa-shopping-cart"></i> <span data-hc-cart-count>0</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!--========= Main Part Start ======-->
    <div class="main-wrapper">
        <section class="shopping-cart">
            <div class="container">
                <div class="" data-hc-cart-title="true" data-hc-render-cart>Cart is Empty</div>        
            </div>
        </section>
        <script type="text/html" data-cart-details>
            <div class="card p-4 shadow-sm">
                {{#showTitle}}
                    <div class="column-labels">
                        <label class="product-image">Image</label>
                        <label class="product-details">Product</label>
                        <label class="product-price">Price</label>
                        <label class="product-quantity">Quantity</label>
                        <label class="product-removal">Remove</label>
                        <label class="product-line-price">Total</label>
                    </div>
                {{/showTitle}}    

                {{#products}}
                    <div class="product">
                        <div class="product-image">
                            <img src="{{product_image}}">
                        </div>
                        <div class="product-details">
                            <h5 class="product-title">{{product_name}}</h5>
                            <br/><br/>
                            {{#variant}}
                                {{ option }}
                                <br>
                            {{/variant}}
                        </div>
                        <div class="product-price">{{price}}</div>
                        <div class="product-quantity">
                            <input name="updateQty" type="number" value="{{quantity}}" readonly/>
                        </div>
                        <div class="product-removal">
                            <button class="remove-product" data-hc-remove-product="{{id}}">
                                Remove
                            </button>
                        </div>
                        <div class="product-line-price">{{price_total}}</div>
                    </div>
                {{/products}}

                    <div class="totals">
                        <div class="add-in-car text-right">
                            <a href="javascript:void(0)" data-hc-hash="y7b-6yv-r8d" data-hc-process-order class="btn btn-primary">Checkout</a>
                        </div>
                    </div>

                </div>
        </script>
        <footer class="store-footer pt-4 my-md-5 pt-md-5 border-top">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md">
                        <img class="footer-logo mb-2" src="images/logo.png" alt="">
                        <small class="d-block mb-3 text-muted">© 2020-2021</small>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Features</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="javascript:void(0)">Cool stuff</a></li>
                            <li><a class="text-muted" href="javascript:void(0)">Random feature</a></li>
                            <li><a class="text-muted" href="javascript:void(0)">Team feature</a></li>
                            <li><a class="text-muted" href="javascript:void(0)">Stuff for developers</a></li>
                            <li><a class="text-muted" href="javascript:void(0)">Another one</a></li>
                            <li><a class="text-muted" href="javascript:void(0)">Last time</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Resources</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="javascript:void(0)">Resource</a></li>
                            <li><a class="text-muted" href="javascript:void(0)">Resource name</a></li>
                            <li><a class="text-muted" href="javascript:void(0)">Another resource</a></li>
                            <li><a class="text-muted" href="javascript:void(0)">Final resource</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>About</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="javascript:void(0)">Team</a></li>
                            <li><a class="text-muted" href="javascript:void(0)">Locations</a></li>
                            <li><a class="text-muted" href="javascript:void(0)">Privacy</a></li>
                            <li><a class="text-muted" href="javascript:void(0)">Terms</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- JQuery -->
    <script type="text/javascript" src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.1.0/mustache.js"></script>
    <script type="text/javascript" src="assets/js/cart.js"></script>
</body>

</html>