<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Cart page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="javascript:void(0)">Cart Sdk</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
           
        </div>
    </div>
</nav>

<div class="container mt-4">
   
<h1>Cart Detail</h1>

<div class="row mb-4">
    <div class="col-md-12">
        <div data-hc-cart-title="true" data-hc-render-cart>Cart is Empty</div>
        <script type="text/template" data-cart-details>
            <table class="table striped">
                {{#showTitle}}
                    <thead>
                        <th>Custom Product Image</th>
                        <th>Product Name</th>
                        <th>Product Price</th>
                        <th>Product Quantity</th>
                        <th>Action</th>
                    </thead>
                {{/showTitle}}
                <tbody>
                    {{#products}}
                        <tr>
                            <td>
                                <img src="{{product_image}}" height="100" width="100"/>
                            </td>
                            <td>
                                {{product_name}}
                                <br/><br/>
                                {{#variant}}
                                    {{ option }}
                                    <br>
                                {{/variant}}
                            </td>
                            <td>
                                {{price}}
                            </td>
                            <td class="col-md-3">
                                <input name="updateQty" style="width: 40px !important;" type="number" value="{{quantity}}" readonly/>
                            </td>
                            <td>
                                <button type="button" data-hc-remove-product="{{id}}" >Remove Product</button>
                            </td>
                        </tr>
                    {{/products}}
                </tbody>
            </table>
        </script>
    </div>
    <div class="col-sm-12">
        <input type="button" class="btn btn-success" value="Process Order" style="float: right;" data-hc-hash="y7b-6yv-r8d" data-hc-process-order />
    </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.1.0/mustache.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/cart.js">
</script>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
