<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Product page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="javascript:void(0)">Slim 4 Skeleton</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
           
        </div>
    </div>
</nav>

<div class="container mt-4">

<div class="row">
    <div class="col-md-6"><h1>Product List page</h1></div>
    <div class="col-md-6" style="margin: auto 0; ">
        Cart item count :
        <a href="cart.html">
            <span data-hc-cart-count>0</span>
        </a>
    </div>
</div> 

<div class="row">
    <div class="col-md-12">
        <div id="cartDetails">Cart is Empty</div>
        <script id="cartProductDetails" type="template">
            {{#products}}
            <li style="display: block; padding:10%">
                <div class="row">
                    <div class="col-md-6">
                        <strong>{{product_name}}</strong>
                    </div>
                    <div class="col-md-3">
                        <strong>{{price}}</strong>
                    </div>
                    <div class="col-md-3">
                        <input name="updateQty" style="width: 40px !important;" type="number" value="{{quantity}}" readonly/>
                    </div>
                </div>
            </li>
            {{/products}}
        </script>
    </div> 
    <div class="col-md-12">
        <div class="row" style="padding: 2%;" data-hc-product="5e85d56de71e7f58d45d760a" data-hc-name="Product 1" data-hc-product-billing-model-id="5" data-hc-product-offer-id="4" data-hc-product-price="110.00" data-cart-button>
            <div class="col-md-9">
                <div style="margin-bottom: 20px;"><a href="javascript:void(0)" data-cart-button>Product 1</a></div>
                $ 110.00
            </div>
            <div class="col-md-3">
                <select name="updateQty" data-hc-product-qty-select>
                    <option value="0" disabled selected>0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <button type="button" class="btn btn-danger" data-cart-button>Add To Cart</button>
            </div>
        </div>
        <div class="row" style="padding: 2%;" data-hc-product="5e85d56ce71e7f58d45d7609" data-hc-name="Product 2" data-hc-product-billing-model-id="2" data-hc-product-offer-id="2" data-hc-product-price="100.00" data-cart-button>
            <div class="col-md-9" >
                <div style="margin-bottom: 20px;">Product 2 </div>
                color:
                <select data-variation="color">
                    <option>red</option>
                    <option>green</option>
                </select>

                size:
                <select data-variation="size">
                    <option>l</option>
                    <option>m</option>
                </select>
                $ 100.00</div>
            <div class="col-md-3">
                <select name="updateQty" data-hc-product-qty-select>
                    <option value="0" disabled selected>0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <a href="javascript:void(0)" class="btn btn-danger" data-cart-button>Add To Cart</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <input type="button" value="Process Order" data-hc-url="http://localhost:3000/app/y7b-6yv-r8d" data-hc-process-order />
            </div>
        </div>

    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.1.0/mustache.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <script type="text/javascript" src="http://localhost:8888/assets/js/cart.js">
    </script>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
