<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Product page</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="assets/css/all.css">
    <!-- Bootstrap CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>

<body class="bg-light">

    <!--========= Header Part Start ======-->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light shadow-sm bg-white fixed-top">
            <div class="container">
                <a class="navbar-brand" href="products.html">
                    <img data-hc-product-image src="images/logo.png" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="products.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="cart.html"><i class="fas fa-shopping-cart"></i> <span data-hc-cart-count>0</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!--========= Main Part Start ======-->
    <div class="main-wrapper">
        <section class="product-detail-section">
            <div class="container">
                <div class="card py-5 shadow-sm"
                    data-hc-product="5e907a3369c0774a481403b0"
                    data-hc-name="Apple iPhone X 64gb"
                    data-hc-product-billing-model-id="5"
                    data-hc-product-offer-id="4"
                    data-hc-product-price="865.00"
                    data-cart-button
                >
                    <div class="container-fluid">
                        <div class="row">
                            <div class="preview col-md-5">

                                <div class="preview-pic tab-content">
                                    <div class="tab-pane active" id="pic-1"><img src="images/apple-iphone-x.jpg" /></div>
                                    <div class="tab-pane" id="pic-2"><img src="images/apple-iphone-x-cover.jpg" /></div>
                                    <div class="tab-pane" id="pic-3"><img src="images/headphones.jpg" /></div>
                                    <div class="tab-pane" id="pic-4"><img src="images/macbook-air-mvfm2.jpg" /></div>
                                    <div class="tab-pane" id="pic-5"><img src="images/macbook-cover.jpg" /></div>
                                </div>
                                <ul class="preview-thumbnail nav nav-tabs">
                                    <li class="active">
                                        <a data-target="#pic-1" data-toggle="tab"><img data-hc-product-image src="images/apple-iphone-x.jpg" /></a>
                                    </li>
                                    <li>
                                        <a data-target="#pic-2" data-toggle="tab"><img src="images/apple-iphone-x-cover.jpg" /></a>
                                    </li>
                                    <li>
                                        <a data-target="#pic-3" data-toggle="tab"><img src="images/headphones.jpg" /></a>
                                    </li>
                                    <li>
                                        <a data-target="#pic-4" data-toggle="tab"><img src="images/macbook-air-mvfm2.jpg" /></a>
                                    </li>
                                    <li>
                                        <a data-target="#pic-5" data-toggle="tab"><img src="images/macbook-cover.jpg" /></a>
                                    </li>
                                </ul>

                            </div>

                            <div class="details col-md-7">
                                <h3 class="product-title">Apple iPhone X 64gb</h3>
                                <p class="product-description">Suspendisse quos? Tempus cras iure temporibus? Eu laudantium cubilia sem sem! Repudiandae et! Massa senectus enim minim sociosqu delectus posuere. Suspendisse quos? Tempus cras iure temporibus? Eu laudantium cubilia sem sem! Repudiandae et! Massa senectus enim minim sociosqu delectus posuere. Suspendisse quos? Tempus cras iure temporibus? Eu laudantium cubilia sem sem! Repudiandae et! Massa senectus enim minim sociosqu delectus posuere.</p>
                                <h4 class="price"> <span>$865.00</span></h4>

                                <div class="add-in-cart d-inline-block">
                                    <input type="number" name="" value="1" data-hc-product-qty-select>
                                    <a href="javascript:void(0)" data-cart-button class="btn btn-primary">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="store-footer pt-4 my-md-5 pt-md-5 border-top">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md">
                        <img data-hc-product-image class="footer-logo mb-2" src="images/logo.png" alt="">
                        <small class="d-block mb-3 text-muted">© 2020-2021</small>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Features</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="javascript:void(0)">Cool stuff</a></li>
                            <li><a class="text-muted" href="javascript:void(0)">Random feature</a></li>
                            <li><a class="text-muted" href="javascript:void(0)">Team feature</a></li>
                            <li><a class="text-muted" href="javascript:void(0)">Stuff for developers</a></li>
                            <li><a class="text-muted" href="javascript:void(0)">Another one</a></li>
                            <li><a class="text-muted" href="javascript:void(0)">Last time</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Resources</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="javascript:void(0)">Resource</a></li>
                            <li><a class="text-muted" href="javascript:void(0)">Resource name</a></li>
                            <li><a class="text-muted" href="javascript:void(0)">Another resource</a></li>
                            <li><a class="text-muted" href="javascript:void(0)">Final resource</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>About</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="javascript:void(0)">Team</a></li>
                            <li><a class="text-muted" href="javascript:void(0)">Locations</a></li>
                            <li><a class="text-muted" href="javascript:void(0)">Privacy</a></li>
                            <li><a class="text-muted" href="javascript:void(0)">Terms</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- JQuery -->
    <script type="text/javascript" src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.1.0/mustache.js"></script>
    <script type="text/javascript" src="assets/js/cart.js"></script>
</body>

</html>