<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Product page</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="assets/css/all.css">
    <!-- Bootstrap CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<body class="bg-light">

    <!--========= Header Part Start ======-->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light shadow-sm bg-white fixed-top">
            <div class="container">
                <a class="navbar-brand" href="products.html">
                    <img data-hc-product-image src="images/logo.png" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="products.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="cart.html"><i class="fas fa-shopping-cart"></i> <span data-hc-cart-count>0</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!--========= Main Part Start ======-->
    <div class="main-wrapper">
        <section class="products-listing">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3" 
                    data-hc-product="5e907a3369c0774a481403b0"
                    data-hc-name="Apple iPhone X 64gb"
                    data-hc-product-billing-model-id="5"
                    data-hc-product-offer-id="4"
                    data-hc-product-price="865.00"
                    data-cart-button
                    >
                        <div class="card shadow-sm">
                            <div class="card-img">
                                <a href="product-detail.html" data-new-page-redirect><img data-hc-product-image src="images/apple-iphone-x.jpg" class="card-img-top" alt="..."></a>
                            </div>
                            <div class="card-body">
                                <h6 class="card-title ellipsis">Apple iPhone X 64gb</h6>
                                <p class="card-text">$865</p>
                                <div class="add-in-cart d-inline-block">
                                    <input type="number" name="" value="1" data-hc-product-qty-select>
                                    <a href="javascript:void(0)" data-cart-button class="btn btn-primary">Add to Cart</a>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3" 
                    data-hc-product="5e907a53b6f63823a95d632f"
                    data-hc-name="Apple iPhone X Back Cover"
                    data-hc-product-billing-model-id="5"
                    data-hc-product-offer-id="4"
                    data-hc-product-price="20.00"
                    data-cart-button
                    >
                        <div class="card shadow-sm">
                            <div class="card-img">
                                <img data-hc-product-image src="images/apple-iphone-x-cover.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <h6 class="card-title ellipsis">Apple iPhone X Back Cover</h6>
                                <p class="card-text">$20</p>
                                <div class="add-in-cart d-inline-block">
                                    <input type="number" name="" value="1" data-hc-product-qty-select>
                                    <a href="javascript:void(0)" data-cart-button class="btn btn-primary">Add to Cart</a>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3" 
                    data-hc-product="5e907a78bd4f74422e42a04f"
                    data-hc-name="Apple iPhone X Back Cover Om"
                    data-hc-product-billing-model-id="5"
                    data-hc-product-offer-id="4"
                    data-hc-product-price="65.00"
                    data-cart-button
                    >
                        <div class="card shadow-sm">
                            <div class="card-img">
                                <img data-hc-product-image src="images/iPhone-X-Back-Cover-Om.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <h6 class="card-title ellipsis">Apple iPhone X Back Cover</h6>
                                <p class="card-text">$65</p>
                                <div class="add-in-cart d-inline-block">
                                    <input type="number" name="" value="1" data-hc-product-qty-select>
                                    <a href="javascript:void(0)" data-cart-button class="btn btn-primary">Add to Cart</a>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3" 
                    data-hc-product="5e907a9f69c0774a481403b1"
                    data-hc-name="APPLE iPHONE ORIGINAL EARPHONE"
                    data-hc-product-billing-model-id="5"
                    data-hc-product-offer-id="4"
                    data-hc-product-price="265.00"
                    data-cart-button
                    >
                        <div class="card shadow-sm">
                            <div class="card-img">
                                <img data-hc-product-image src="images/iphone-earphone.jpeg" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <h6 class="card-title ellipsis" title="APPLE iPHONE ORIGINAL EARPHONE">APPLE iPHONE ORIGINAL EARPHONE</h6>
                                <p class="card-text">$265</p>
                                <div class="add-in-cart d-inline-block">
                                    <input type="number" name="" value="1" data-hc-product-qty-select>
                                    <a href="javascript:void(0)" data-cart-button class="btn btn-primary">Add to Cart</a>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3" 
                    data-hc-product="5e907acfb6f63823a95d6330"
                    data-hc-name="Apple denies rumoured plot to kill headphone"
                    data-hc-product-billing-model-id="5"
                    data-hc-product-offer-id="4"
                    data-hc-product-price="465.00"
                    data-cart-button
                    >
                        <div class="card shadow-sm">
                            <div class="card-img">
                                <img data-hc-product-image src="images/headphones.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <h6 class="card-title ellipsis" title="Apple denies rumoured plot to kill headphone">Apple denies rumoured plot to kill headphone</h6>
                                <p class="card-text">$465</p>
                                <div class="add-in-cart d-inline-block">
                                    <input type="number" name="" value="1" data-hc-product-qty-select>
                                    <a href="javascript:void(0)" data-cart-button class="btn btn-primary">Add to Cart</a>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3" 
                    data-hc-product="5e907b07bd4f74422e42a050"
                    data-hc-name="Macbook Air MVFM2 LL/A Gold (2019)"
                    data-hc-product-billing-model-id="5"
                    data-hc-product-offer-id="4"
                    data-hc-product-price="1269.00"
                    data-cart-button
                    >
                        <div class="card shadow-sm">
                            <div class="card-img">
                                <img data-hc-product-image src="images/macbook-air-mvfm2.jpg" class="card-img-top" alt="..." data-hc-product-image data-cart-button>
                            </div>
                            <div class="card-body">
                                <h6 class="card-title ellipsis" title="Macbook Air MVFM2 LL/A Gold (2019)">Macbook Air MVFM2 LL/A Gold (2019)</h6>
                                <p class="card-text">$1,269</p>
                                <div class="add-in-cart d-inline-block">
                                    <input type="number" name="" value="1" data-hc-product-qty-select>
                                    <a href="javascript:void(0)" data-cart-button class="btn btn-primary">Add to Cart</a>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3" 
                    data-hc-product="5e907b3369c0774a481403b2"
                    data-hc-name="Phone 11 Pro"
                    data-hc-product-billing-model-id="5"
                    data-hc-product-offer-id="4"
                    data-hc-product-price="665.00"
                    data-cart-button
                    >
                        <div class="card shadow-sm">
                            <div class="card-img">
                                <img data-hc-product-image src="images/iphone_11_pro.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <h6 class="card-title ellipsis">Phone 11 Pro</h6>
                                <p class="card-text">$665</p>
                                <div class="add-in-cart d-inline-block">
                                    <input type="number" name="" value="1" data-hc-product-qty-select>
                                    <a href="javascript:void(0)" data-cart-button class="btn btn-primary">Add to Cart</a>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3" 
                    data-hc-product="5e907b64b6f63823a95d6331"
                    data-hc-name="Beautiful Blue Coral in The Sea MacBook Air/pro 11/12/13/15 Inch Case Plastic Hard Case Shell Apple Laptop Accessories Mac Book Covers MacBook Pro Laptop Cover"
                    data-hc-product-billing-model-id="5"
                    data-hc-product-offer-id="4"
                    data-hc-product-price="265.00"
                    data-cart-button
                    >
                        <div class="card shadow-sm">
                            <div class="card-img">
                                <img data-hc-product-image src="images/macbook-cover.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <h6 class="card-title ellipsis">Beautiful Blue Coral in The Sea MacBook Air/pro 11/12/13/15 Inch Case Plastic Hard Case Shell Apple Laptop Accessories Mac Book Covers MacBook Pro Laptop Cover</h6>
                                <p class="card-text">$265</p>
                                <div class="add-in-cart d-inline-block">
                                    <input type="number" name="" value="1" data-hc-product-qty-select>
                                    <a href="javascript:void(0)" data-cart-button class="btn btn-primary">Add to Cart</a>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="store-footer pt-4 my-md-5 pt-md-5 border-top">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md">
                        <img data-hc-product-image class="footer-logo mb-2" src="images/logo.png" alt="">
                        <small class="d-block mb-3 text-muted">© 2020-2021</small>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Features</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="javascript:void(0)">Cool stuff</a></li>
                            <li><a class="text-muted" href="javascript:void(0)">Random feature</a></li>
                            <li><a class="text-muted" href="javascript:void(0)">Team feature</a></li>
                            <li><a class="text-muted" href="javascript:void(0)">Stuff for developers</a></li>
                            <li><a class="text-muted" href="javascript:void(0)">Another one</a></li>
                            <li><a class="text-muted" href="javascript:void(0)">Last time</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Resources</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="javascript:void(0)">Resource</a></li>
                            <li><a class="text-muted" href="javascript:void(0)">Resource name</a></li>
                            <li><a class="text-muted" href="javascript:void(0)">Another resource</a></li>
                            <li><a class="text-muted" href="javascript:void(0)">Final resource</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>About</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="javascript:void(0)">Team</a></li>
                            <li><a class="text-muted" href="javascript:void(0)">Locations</a></li>
                            <li><a class="text-muted" href="javascript:void(0)">Privacy</a></li>
                            <li><a class="text-muted" href="javascript:void(0)">Terms</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- JQuery -->
    <script type="text/javascript" src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.1.0/mustache.js"></script>
    <script type="text/javascript" src="assets/js/cart.js"></script>
</body>

</html>