/*** Home Page Css Start ***/
.container {max-width: 1300px;}
.mr-10 {margin-right: 10px;}
.mb-20{margin-bottom: 20px;}
.mb-30{margin-bottom: 30px;}
a:hover {color: #35527e; text-decoration: none;}
.navbar-brand img{width:100%; max-width: 170px; max-height: 50px;}
.navbar-nav .nav-link .rounded-circle {width: 30px; height: 30px; text-align: center; overflow: hidden; margin-right: 10px;}
.navbar-nav .nav-link .rounded-circle img{max-width: 100%; max-height: 100%; overflow: hidden;}
.main-wrapper {width: 100%; height: auto; float: left; padding-top: 90px;}
.left-nav li {background: transparent;}
.left-nav li a {width: 100%;color: #35527e; padding: 4px 5px 4px 10px; text-decoration: none;}
.left-nav li a.active {background: #e8f1ff; color:#35527e;}
.left-nav li a:hover {background: #e8f1ff; color:#35527e;}
.left-nav li a i {width: 20px;}
.btn-primary {background-color: #0071e3; color:#fff;}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {background-color: #0077ED; color:#fff;}

.products-listing{width:100%; height: auto; float: left;}
.products-listing .card-img{width:100%; height: 250px; float: left; text-align: center;}
.products-listing .card-img img{width:auto; max-width:100%; max-height: 250px;}
.ellipsis {overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}

.add-in-cart{width:100%; height: auto; float: left;}
.add-in-cart input{width:48px; height: 38px; float: left; margin-right: 5px; -webkit-appearance: textfield; text-align: center; border-radius: 4px; border: solid 1px #ccc;}



.store-footer{width:100%; height: auto; float: left;} 
.store-footer .footer-logo{max-width:140px; max-height: 60px;} 

/**** Product Detail Page *****/

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }


@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }


.product-title, .product-description, .price {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }
.preview-pic.tab-content {
    height: 400px;
}
.preview-pic.tab-content > .active {
    display: block;
    text-align: center;
}
.preview-pic.tab-content .tab-pane img {
    max-height: 400px;
    max-width: 100%;
    width: auto;
    height: auto;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

/*# sourceMappingURL=style.css.map */


/************** Cart Page **************/

 
.product-image {float: left; width: 20%;} 
.product-details {float: left;width: 37%;} 
.product-price {float: left;width: 12%;} 
.product-quantity {float: left; width: 10%;} 
.product-removal {float: left; width: 9%;} 
.product-line-price {float: left; width: 12%; text-align: right;}
 
/* This is used as the traditional .clearfix class */
.group:before, .shopping-cart:before, .column-labels:before, .product:before, .totals-item:before,
.group:after,
.shopping-cart:after,
.column-labels:after,
.product:after,
.totals-item:after {content: ''; display: table;}
 
.group:after, .shopping-cart:after, .column-labels:after, .product:after, .totals-item:after {clear: both;}
 
.group, .shopping-cart, .column-labels, .product, .totals-item {zoom: 1;}
 
/* Apply clearfix in a few places */
/* Apply dollar signs */
.product .product-price:before, .product .product-line-price:before, .totals-value:before {content: '$';}
 
/* Body/Header stuff */
 
.shopping-cart {width: 100%; height: auto; float: left;}
 
/* Column headers */
.column-labels label {padding-bottom: 15px;margin-bottom: 15px; border-bottom: 1px solid #eee;}

/* Product entries */
.product {margin-bottom: 20px;padding-bottom: 10px;  border-bottom: 1px solid #eee;}
.product .product-image {text-align: center;}
.product .product-image img {width: 100px;}
.product .product-details .product-title {margin-right: 20px;}
.product .product-details .product-description { margin: 5px 20px 5px 0;  line-height: 1.4em;}
.product .product-quantity input {width: 45px;height: 36px;border-radius: 2px;border: solid 1px #ccc;-webkit-appearance: textfield;text-align: center;}
.product .remove-product {
  border: 0; padding: 7px 8px; background-color: #c66; color: #fff; font-size: 12px; border-radius: 3px;}
.product .remove-product:hover {background-color: #a44;}
 
/* Totals section */
.totals{width:100%; height: auto; float: left;}
.totals .totals-item {float: right; clear: both; width: 100%; margin-bottom: 10px;}
.totals .totals-item label {float: left; clear: both; width: 79%; text-align: right;}
.totals .totals-item .totals-value {float: right; width: 21%; text-align: right;} 
.checkout {float: right; border: 0; margin-top: 20px; padding: 6px 25px; background-color: #6b6; color: #fff; font-size: 25px; border-radius: 3px;} 
.checkout:hover {background-color: #494;}
 
/* Make adjustments for tablet */
@media screen and (max-width: 650px) {
  .shopping-cart {margin: 0; padding-top: 20px; border-top: 1px solid #eee;} 
  .column-labels {display: none;} 
  .product-image {float: right; width: auto;}
  .product-image img {margin: 0 0 10px 10px;} 
  .product-details {float: none; margin-bottom: 10px; width: auto;} 
  .product-price {clear: both; width: 70px;} 
  .product-quantity {width: 100px;}
  .product-quantity input {margin-left: 20px;} 
  .product-quantity:before {content: 'x';} 
  .product-removal {width: auto;}
   .product-line-price {float: right; width: 70px;}
}
/* Make more adjustments for phone */
@media screen and (max-width: 350px) {
  .product-removal {float: right;} 
  .product-line-price {float: right; clear: left; width: auto; margin-top: 10px;} 
  .product .product-line-price:before {content: 'Item Total: $';} 
  .totals .totals-item label {width: 60%;}
  .totals .totals-item .totals-value {width: 40%;}
}